<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Dofusdle</title>


    <link rel="stylesheet" href="/css/styles.css" >

</head>

<body>
<div class="blur-overlay"></div>
<h1>Dofusdle - Le jeu inspiré de Dofus</h1>

<img src="/assets/background/Dofus.png" alt="Logo" class="logo">


<img th:src="${carte.getImageURL()}" alt="Image de Donjon Dofus" src=""/>

<form action="/cartes/validator" method="post">
    <select id="CarteName" name="nomCarte" required>
        <option value="" disabled selected>Choisissez un nom de donjon...</option>
        <option th:each="nom : ${nomsCartes}" th:value="${nom}" th:text="${nom}"></option>
    </select>
    <button type="submit">Valider</button>
</form>

<p th:if="${errorMessage}" style="color: red;" th:text="${errorMessage}"></p>

<a href="/" class="btn-retour">Retour au Menu</a>

</body>
</html>
