
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Dofusdle</title>


    <link rel="stylesheet" href="/css/styles.css" >

</head>

<body>
<div class="blur-overlay"></div>
<h1>Dofusdle - Le jeu inspiré de Dofus</h1>

<img th:src="${carte.getImageURL()}" alt="Image de personnage Dofus" src=""/>

<h2 th:text="${carte.getNom()}"></h2>

<h3>Bravo tu as trouvé le Donjon du jour !</h3>

<a href="/" class="btn-dofus">Retour au Menu</a>

</body>
</html>
