
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Dofusdle</title>


    <link rel="stylesheet" href="/css/styles.css" >

</head>

<body>
<div class="blur-overlay"></div>
<img src="/assets/background/Dofus.png" alt="Logo" class="logo">

<img th:src="${carte.getImageURL()}" alt="Image de personnage Dofus" src=""/>


<div class="game-title">
    <h1 th:text="${carte.getNom()}"></h1>
    <p>Bravo tu as trouvé le Donjon du jour !</p>
</div>

<a href="/" class="btn-dofus">Retour au Menu</a>

</body>
</html>
