<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Principal</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<div class="content">
    <!-- Logo -->
    <img src="/assets/background/Dofus_Logo.png" alt="Logo" class="logo">

    <!-- Titre -->
    <h1>Bienvenue sur le Menu Principal</h1>

    <!-- Boutons de navigation -->
    <div class="buttons-container">
        <a href="/personnages" class="button">Personnage</a>
        <a href="/cartes" class="button">Donjons</a>
    </div>
</div>
</body>
</html>