<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Dofusdle</title>

    <link rel="stylesheet" href="/css/styles.css" >
</head>

<body>
<div class="blur-overlay"></div>

<img src="/assets/background/Dofus.png" alt="Logo" class="logo">

<div class="game-title">
    <h1>Devine le personnage du jour !</h1>
    <p class="game-subtitle">Selectionne n'importe quel personnage !.</p>
</div>

<img th:src="${personnage.getImageURL()}" alt="Image de personnage Dofus" src=""/>

<form id="msform" action="/personnages/validator" method="post">
    <label>
        <select id="PersonnageName" name="nomPersonnage" required>
            <option value="" disabled selected>Choisissez un personnage...</option>
            <option th:each="nom : ${nomsPersonnages}" th:value="${nom}" th:text="${nom}"></option>
        </select>
    </label>
    <button type="submit">Valider</button>
</form>

<p th:if="${errorMessage}" style="color: red;" th:text="${errorMessage}"></p>

<a href="/" class="btn-dofus">Retour au Menu</a>

</body>
</html>
