<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Dofusdle</title>


    <link rel="stylesheet" href="/css/styles.css" >

</head>

<body>
<div class="blur-overlay"></div>
<h1>Dofusdle - Le jeu inspiré de Dofus</h1>

<img src="/assets/background/Dofus.png" alt="Logo" class="logo">


<img th:src="${personnage.getImageURL()}" alt="Image de personnage Dofus" src=""/>

<form id="msform" action="/personnages/validator" method="post">
    <label>
        <select name="Name" id="PersonnageName" required>
            <option value="">Sélectionnez un nom de Personnage</option>
        </select>
    </label>
    <button type="submit">Valider</button>
</form>
<p th:if="${errorMessage}" style="color: red;" th:text="${errorMessage}"></p>

<a href="/" class="btn-dofus">Retour au Menu</a>

<script>
    // Appel de l'API pour les noms de cartes
    fetch('/personnages/noms')
        .then(response => {
            if (!response.ok) {
                throw new Error("Erreur lors de la récupération des personnages");
            }
            return response.json();
        })
        .then(data => {
            const selectElement = document.getElementById("PersonnageName");

            // Ajouter les options au select
            data.forEach(nom => {
                const option = document.createElement("option");
                option.value = nom; // La valeur envoyée dans le formulaire
                option.textContent = nom; // Le texte affiché à l'utilisateur
                selectElement.appendChild(option);
            });
        })
        .catch(error => {
            console.error("Erreur :", error);
        });
</script>
</body>
</html>
